//The .babelrc file is used to configure the babel loader, the file uses presets which allow a user to use-
//the latest javascript content if not supported by the current browser
//Add plugins to support React JSX language features 
{ "presets":[["@babel/preset-env"],"@babel/preset-react" ]}