@font-face{
  font-family: tsukimi-rounded;
  src: url(../src/fonts/ttf/TsukimiRounded-Bold.ttf);
}
*{
    font-family: tsukimi-rounded;
    margin:0;
    padding:0;
    max-width: 100%;
    max-height: 100%
}
button{
    padding :0.8em;
    width: 30%;
    height: 15%;
    background-color: black;
    color: white;
}
.card {
    background-color : #48A8A2;
    width : 80em;
    margin-left : 16em;
    margin-top : 3em;
    padding-bottom: 3em;
}
#toohightoolowcard{
    outline: 1em solid transparent;
    height: 0;
    padding-top:1em;
    padding-bottom:3em;
}
#levelselectedcard{
    outline: 1em solid transparent;
    height: 0;
    padding-bottom:3em;
    overflow: hidden;
}
#difficult{
    margin-left: 8rem ;
}
#guess{
    margin-left: 6.5rem ;
}
#Gamesplayed{
    padding-left: 3em;
 }
h1 {
    color:white;
    text-align : center;
    font-size : 3.5em;
    font-weight : bold 
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
h4 {
    margin-left: 2em;
    color:white;
}
h3 {
    margin-left: 3.5em;
}
.header {
    background-color: #49A19C;
}
input{
    width: 80%;
    display: inline-block;
    padding-bottom: -9em
}
#login{
    margin-bottom:3em;
}
.levels {
    margin-left: 24em;
    margin-top: 2em;
    margin-right: 31em;
    padding-top: 2em;
}
#LevelForm{
    margin-left: 5em;
    width: 50%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    margin-top:0.9em;  
}
.levelCard{
    margin-top: 1em;
    margin-left: 1em;
    background-color: #49A19C;
    padding: 1em;
    padding-bottom: 1em;
    padding-left:20;
    resize: none;
}
#login{
    margin-left: 6rem;  
}
label {
    display: inline-block;
    width: 9em;
    text-align: left;
    color: white;
    padding-top: 1em
  }
.levelselect{
    margin-left: 2em;
}
#login{
    padding-bottom: 2em;
}
#Levelsinput{
    margin-left: 5.1em;
    padding:0.4em
}
.p{
    color: white;
    margin-left: 8em;
}
.playButtons{
  display: flex;
  flex-direction: row;
  padding-left:2em;
  padding-top:1em
}
#played{
    margin: 10px 20px 30px 10px;
}
#plays{
    background-color:white;
    padding: 2em; 
    margin-left: 2em;
}
rules-card{
    padding-left:4em;
}
.rules {
    color : white; 
    width : 25%;
    height : 70%;
    background-color: #49A19C;
    margin-left: 2em;
    margin-top: -33.6em;
    padding: 1.6em 2em 2em 2em;
    padding-bottom: 2.7em;
    padding-top: 4em;
}
span{
    display:inline-block;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.tally {
    margin-left: 52em;
    margin-top: -33.7em;
    background-color: #49A19C;
    margin-right: 1.5em;
    padding: 1.5em 4em;
    padding-right:3em;
    padding-top:4em;
    padding-bottom: 6.3em;
}
#Tally{
    background-color:white;
}
#won-label,#played{
    font-size: 14px;
}

