@font-face{
  font-family: tsukimi-rounded;
  src: url(../src/fonts/ttf/TsukimiRounded-Bold.ttf);
}

*{
    font-family: tsukimi-rounded;
}
.card {
    background-color : #48A8A2;
    width : 80em;
    margin-left : 8em;
    margin-top : 5em;
}

h1 {
    color:white;
    text-align : center;
    font-size : 48px;
    font-weight : bold 
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

h4 {
    margin-left: 2em;
    color:white;
}
h3 {
    margin-left: 3.5em;
}

p {
    color: white;
    margin-left: 8em;
}

.rules {
    color : white; 
    width : 20%;
    height : 70%;
    background-color: #49A19C;
    margin-left: 15px;
    margin-top: -15em;
}
.header {
    background-color: #49A19C;
}
.levels {
    margin-left: 22em;
    margin-top: 2em;
    margin-right: 33em;
}
#LevelForm{
    margin-left: 3em
}
.levelCard{
    margin-top: 2em;
    background-color: #49A19C;
    padding: 10px;
}
button{
    padding :10px;
    width: 30%;
    height: 15%;
    background-color: black;
    color: white;
}
.playButtons{
    margin-top: 1em;
}
#difficult{
    margin-left: 8rem ;
}
#guess{
    margin-left: 8rem ;
    
}
#login{
    margin-left: 8rem;  
}
.tally {
        margin-left: 53em;
        margin-top: -24em;
        background-color: #49A19C;
        margin-right: 3em
}
label {
    display: inline-block;
    width: 150px;
    text-align: left;
    color: white
  }
.levelselect{
    margin-left: 1.5em;
}
#LevelForm{
    width: 50%;
}
input{
    width: 70%;
}
#Tally{
    margin-left: 8em;
}
#Levelsinput{
    margin-left: 5em;
}

