@font-face{
  font-family: tsukimi-rounded;
  src: url(../src/fonts/ttf/TsukimiRounded-Bold.ttf);
}
@media only screen and (min-height:300px) and (min-width:500px) and (min-width: 768px) and (min-width: 992px) and (min-width: 1200px){
     *{
        font-size: 13px;
      }
}
*{
    font-family: tsukimi-rounded;
    margin:0;
    padding:0;
}
button{
    padding :1em;
    margin-left: 1em;
    width: 28%;
    height: 16%;
    background-color: black;
    color: white;
    font-size: 0.8em;
}
.card {
    background-color : #48A8A2;
    width : 87.8em;
    height: 50em;
    margin-left : 14em;
    margin-top : 3em; 
    padding-left:-8em
}
#toohightoolowcard{
    outline: 1em solid transparent;
    height: 0;
    padding-top:1em;
    padding-bottom:3em;
}
#levelselectedcard{
    outline: 1em solid transparent;
    height: 0;
    padding-bottom:2em;
    overflow: hidden;
}
#difficult{
    margin-left: 10rem ;
}
#guess{
    margin-left: 6.5rem ;
}
#standard{
    margin-left: -2em;
}
#Gamesplayed{
    padding-left: 3em;
    margin-top:5em;
 }
h1 {
    color:white;
    text-align : center;
    font-size : 2.5em;
}
h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}
h4 {
    margin-left: 2em;
    color:white;
}
h3 {
    margin-left: 3.5em;
}
.header {
    background-color: #49A19C;
}
input{
    width: 80%;
    display: inline-block;
    padding-bottom: -9em
}
#login{
    margin-bottom:3em;
}
.levels {
    margin-left: 28em;
    margin-right: 32em;
    padding-top: 2em;
}
#LevelForm{
    margin-left: 5em;
    width: 50%;
    margin: 4em;
    display: flex;
    flex-direction: column;
    margin-top:0.9em;  
}
.levelCard{
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 0.5em;
    background-color: #49A19C;
    padding: 1em;
    padding-bottom: 2em;
    padding-left: 1.8em;
    padding-right: 2em;
    resize: none;
}
#login{
    margin-left: 6rem;  
}
label {
    display: inline-block;
    width: 9em;
    text-align: left;
    color: white;
    padding-top: 1em
  }
.levelselect{
    margin-left: 5em;
    margin-right: 2em;
    margin-bottom: 1em;
}
#login{
    padding-bottom: 2em;
}
#Levelsinput{
    margin-top: 1em;
    margin-left: 3em;
    padding:0.4em
}
.p{
    color: white;
    margin-left: 8em;
}
.playButtons{
  display: flex;
  flex-direction: row;
  padding-left:2em;
  padding-top:1em
}
#played{
    margin: 10px 10px 20px 10px;
}
#plays{
    background-color:white;
    padding: 2em; 
    margin-top:2em;
    margin-left: 2.3em;
}
.rules-card{
    padding-left:2em;
}
.rules {
    color : white; 
    width : 23%;
    height : 70%;
    background-color: #49A19C;
    margin-top: -33.3em;
    margin-left: 1em;
    padding: 1em 4em 9em 0.8em;
    padding-bottom: 31em;
    padding-top: 2.1em;
}
span{
    display:inline-block;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.tally {
    margin-left: 60em;
    margin-top: -33.2em;
    background-color: #49A19C;
    margin-right: 3em;
    padding: 3.8em 4em;
    padding-top:2.5em;
    padding-bottom: 4.4em;
}
#Tally{
    background-color:white;
}
#won-label,#played{
    font-size: 10px;
    margin-left: -1em;
}

